<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="website for TinyLand Playschool">
  <meta name="keywords" content="Tinyland Playschool, Tiny Land play school, Tinyland playschool bangalore">
  <meta name="author" content="Dharshan K">
  <title>TinyLand Playschool</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400i|Open+Sans:600|Roboto+Slab:700|Ubuntu:700&display=swap"
    rel="stylesheet">
<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">
  <!-- custom css -->
  <link rel="stylesheet" href="css/styles.css" />
</head>
<script src="/index.js"></script>

<body>
  <section id="home">
    <nav id="nav-bar">

      <img src="images/logo.png" class="hidden" alt="TinyLand" width="60px" height="60px" id="mob-logo">
      <a href="/admission" id="admission" class="hidden">admission</a>
      <input type="checkbox" name="" id="check" class="hidden">
      <label for="check" class="check-btn hidden"><i class="fas fa-bars"></i></label>

      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/programs">programs</a></li>
        <li><a href="/admission" class="admission">admission</a></li>
        <li><a href="/" id="logo"><img src="images/logo.png" alt="TinyLand" class="logo"></a></li>
        <li><a href="/about-us">about us</a></li>
        <li><a href="/#contact-us">contact us</a></li>
        <li><a href="tel:8867407455"><i class="fas fa-phone-alt"></i> 8867407455</a></li>
      </ul>
    </nav>