<%- include("partials/header") -%>
<style>
    #home {
        background-image: url("/images/prg-bg.png");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1.heading{
        color:#FFC30D;
    }
</style>
<section id="about">
<h1 class="heading">About us</h1>

<div class="about-content">
    <p>Tiny land play school is located at Hennur-Baglur road, Kothanur, Bangalore. We are having classes from playgroup, LKG, UKG and also we have facilities for day care. We are located in prime location.</p>
    <p>Our play school promotes learning programs, art, puppet shows, field trip, dances etc. There's indoor and outdoor play area as well as toys to keep young minds inspired and entertained.</p>
    <p>We have trained, caring and experienced staff.</p>
    <p>This Tiny land play school is handled by Mrs.Jayanthi Shrinivasan(MBA) having experience in academic and these kind of school.</p>
</div>
</section>
</section>

<%- include("partials/footer") -%>