<%- include("partials/header") -%>
<style>
    nav {
        background-color: rgba(63, 178, 207, 62%);
    }

    li a[href="/admission"] {
        background-color: #FFC30D;
        border:none;
        color: white;
    }

    #home {
        background-image: url("/images/bg-ad.webp");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    footer {
        background-color: #FFC30D;
    }

    @media only screen and (max-width: 600px) {
        #home {
            background-image: url("/images/bg-ad-mobile.webp");
        }

    }
</style>
<section id="admission-section">
    <form action="/" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="mob">Mobile</label>
            <input type="text" name="mob" required>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" name="age">
        </div>
        <div class="form-group">
            <label for="program">Program</label>
            <select name="program">
                <option value="Playgroup">Playgroup</option>
                <option value="Nursery">Nursery</option>
                <option value="LKG">LKG</option>
                <option value="UKG">UKG</option>
                <option value="Daycare">Daycare</option>
            </select>
        </div>
        <% if( status  === 1){ %>
        <div class="alert alert-success" role="alert">
            <h5>
                Your details submitted successfully!
            </h5>
            <p>
                Thank you, we'll contact you soon.
            </p>
        </div>
        <%}%>
        <button type="submit">Submit</button>
        
    </form>
</section>

</section>

<%- include("partials/footer") -%>