<%- include("partials/header") -%>


<section id="main">
  <a href="/">
    <picture>
      <source media="(max-width: 640px)" srcset="images/tiny-land.webp">
      <source media="(min-width: 640px)" srcset="images/tinyLand.webp">
      <img src="images/tinyLand.png" alt="tinyLand" />
    </picture>
  </a>
  <a href="#our-vision"><i id="scroll-up" class="fas fa-chevron-down"></i></a>
</section>
</section>



<section id="our-vision">
  <h1 class="heading">Our <span>Vision</span></h1>
  <div id="quote">
    <p>School is the second home and teachers are the second parents.</p>
    <p>-inspired from Barbara Bush</p>
  </div>
  <div class="vision">
    <p>Tiny Land Play School's primary objective is to build a robust and dazzling early education of kids. We instil
      social, emotional, physical and cognitive development needed in order to help them have a brighter future. Our
      prime concern is developing a lifelong love of learning in children.</p>
    <p>We have set up a home like environment where children acquire assets like cooperation, respect, resilience,
      concentration and patience. Our core intent is to render holistic development. </p>
    <p>Our programs are professionally crafted to enhance the development of the brain. Various activities involving
      analysing and logical reasoning help them to develop their skills.</p>
  </div>
</section>



<section id="features">
  <h1 class="heading">Features</h1>
  <div class="card-group">
    <div class="card">
      <img src="/images/svg/blocks.svg" alt="blocks">
      <div class="card-body">
        <h5 class="card-title">Activity Based Teaching</h5>
      </div>
    </div>
    <div class="card">
      <img src="/images/svg/shield.svg" alt="shield">
      <div class="card-body">
        <h5 class="card-title">Safe and Pleasant Environment </h5>
      </div>
    </div>
    <div class="card">
      <img src="/images/svg/playground.svg" alt="playground">
      <div class="card-body">
        <h5 class="card-title">Indoor and Outdoor Games</h5>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="/images/svg/rocket.svg" alt="rocket">
      <div class="card-body">
        <h5 class="card-title">Fun & interesting curriculum</h5>
      </div>
    </div>
    <div class="card">
      <img src="/images/svg/play.svg" alt="audio video">
      <div class="card-body">
        <h5 class="card-title">Video and Audio Rooms</h5>
      </div>
    </div>
    <div class="card">
      <img src="/images/svg/care.svg" alt="care">
      <div class="card-body">
        <h5 class="card-title">Trained and Caring Staff</h5>
      </div>
    </div>
  </div>
</section>




<section id="contact-us">
  <h1 class="heading">Contact us</h1>
  <div class="card-group">
    <div class="card">
      <img src="/images/pin.webp" alt="Location">
      <div class="card-body">
        <h5 class="card-title card-content">Location</h5>
        <a href="https://goo.gl/maps/yJ3RWpJFf6eka1s86">
          <p class="card-text card-content">#255/8 Nethaji Road,
            1st Main, Balaji Layout, Kothanur, Bengaluru-560077.</p>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="/images/email.webp" alt="email">
      <div class="card-body">
        <h5 class="card-title card-content">Phone & Email</h5>
        <p class="card-text card-content">tinylandkothanur@gmail.com</p>
        <p class="card-text card-content"><i class="fas fa-phone-alt"></i> 8867407455</p>
        <p class="card-text card-content"><i class="fas fa-phone-alt"></i> 9620474556</p>
      </div>
    </div>
    <div class="card">
      <img src="/images/calendar.webp" alt="timing">
      <div class="card-body">
        <h5 class="card-title card-content">Open Hours</h5>
        <p class="card-text card-content">M-F: 9 am – 6 pm</p>
        <p class="card-text card-content">Sat: 9 am – 11 am</p>
      </div>
    </div>
  </div>
  <a href="/admission" role="button" class="admission-btn">Admission</a>
  <a href="#main"><i class="fas fa-chevron-up"></i></a>
</section>

<%- include("partials/footer") -%>