<%- include("partials/header") -%>
<style>
    #home {
        background-image: url("/images/prg-bg.webp");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h1.heading {
        color: #263137;
    }

</style>
<section id="programs">
    <h1 class="heading">Programs</h1>
    <div class="cards">
        <div class="flip-card">
            <div class="card-inner">
                <div class="card-front">
                    <h2>Playgroup</h2>
                </div>
                <div class="card-back">
                    <p>Age: 1.6 - 3</p>
                    <p>Duration: 3 hrs</p>
                    <p>Engaging kids physically, emotionally and socially.</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="card-inner">
                <div class="card-front">
                    <h2>Nursery</h5>
                </div>
                <div class="card-back">
                    <p>Age: 2.6 - 4</p>
                    <p>Duration: 3 hrs</p>
                    <p>Improves creativity.</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="card-inner">
                <div class="card-front">
                    <h2>LKG</h5>
                </div>
                <div class="card-back">
                    <p>Duration: 3.5 hrs</p>
                    <p>To express their ideas, thoughts and feelings.</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="card-inner">
                <div class="card-front">
                    <h2>UKG</>
                </div>
                <div class="card-back">
                    <p>Duration: 4.5 hrs</p>
                    <p>Preparing them for primary school</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="card-inner">
                <div class="card-front">
                    <h2>Daycare</>
                </div>
                <div class="card-back">
                    <p>Age: 10 months onwards</p>
                    <p>With live camera</p>
                </div>
            </div>
        </div>
    </div>
</section>
</section>

<%- include("partials/footer") -%>